<h2>Department List</h2>
<% if access_granted?%>
    <a href="/department/new"><button type="submit">Create A New Department</button></a>
<% end %>

<% current_user.departments.each do |department| %>
    <h1><a href="/department/<%= department.id %>"><%= department.name.titlecase %></a></h1>
<% end %>