<form action="/department/new" method="post">
    <label for="name">Department Name</label>
    <input id="name" type="string" name="name" value="">
    <input type="submit" value="Create Department">
</form>