<h1><%= @department.name.titlecase %></h1>
<a href="/department/<%= @department.id %>/edit"><button type="submit">Change Deptartment Name</button></a>
<form action="/department/<%= @department.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="delete" type="submit" value="Delete Department">
</form>

<a href="/department/<%= @department.id %>/inventory/index"><button type="submit">View Department Inventory</button></a>