.error {
    color: red;
}

.username-inventory {
    text-align: center;
}

a {
    text-decoration: none;
}
a:visited {
    color: grey;
}

/* spacing */

table {
    table-layout: fixed;
    width: 100%;
    border: 3px solid purple;
  }
  
  th, td {
    padding: 10px;
  }

  tbody, td {
      text-align: center;
  }

