<h2>Add A New Item To <%= @department.name %></h2>

<form action="/department/inventory/new" method="post">
    <label for="name">Item Name</label>
    <input id="name" type="text" name="name" value="">
    <label for="quantity">Item quantity</label>
    <input id="quantity" type="text" name="quantity" value="">
    <label for="details">Item Details</label>
    <input id="details" type="text" name="details" value="">
    <input type="submit" value="Add New Item">
</form>