<h2>Create User</h2>

<form action="/user/new" method="post">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" value="">
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" value="">
    <label for="access_level">Access Level</label>
    <input id="access_level" type="text" name="access_level" value="">
    <input type="submit" value="Create Account">
</form>