<h2>New Item</h2>

<form action="/items/new" method="post">
    <label for="name">Item Name</label>
    <input id="name" type="text" name="name" value="">
    <input type="submit" value="Add New Item">
</form>